* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-image: url('./assets/44k.jpg'); /* Replace 'background.jpg' with your background image */
    background-size: cover;
}

header {
    background-color: rgba(52, 152, 219, 0.7); /* Semi-transparent background color */
    color: white;
    text-align: center;
    padding: 20px;
}

.header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    width: 150px;
    height: auto;
}

h1 {
    margin: 10px 0;
    font-size: 28px;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white background for content */
    border-radius: 8px; /* Rounded corners for the content */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Shadow for the content */
}

.about-us, .problem-statement, .purpose, .features {
    margin-bottom: 20px;
    padding: 20px;
}

h2 {
    color: #3498db;
}

ul {
    list-style-type: disc;
    margin-left: 20px;
}

footer {
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent dark background for the footer */
    color: white;
    text-align: center;
    padding: 10px;
}

footer p {
    margin: 0;
}

